<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!DOCTYPE html>
<html ng-app="iotApp">
<head>
    <title>IoT Cloud</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="app.js"></script>
    <script src="services/temperatureService.js"></script>
    <script src="services/humidityService.js"></script>
    <script src="controllers/temperatureController.js"></script>
    <script src="controllers/humidityController.js"></script>
</head>
<body>

<div ng-controller="TemperatureController">
    <h3>Ajouter une Température</h3>
    <input type="number" ng-model="newTemperature" placeholder="Valeur de température" />
    <button ng-click="addTemperature()">Ajouter</button>

    <h3>Liste des Températures</h3>
    <ul>
        <li ng-repeat="temp in temperatures">
            ID: {{ temp._id }} | Valeur: {{ temp.value }}°C | Date: {{ temp.timestamp | date:'dd/MM/yyyy HH:mm:ss' }}
        </li>
    </ul>
</div>

<div ng-controller="HumidityController">
    <h3>Ajouter une Humidité</h3>
    <input type="number" ng-model="newHumidity" placeholder="Valeur d'humidité" />
    <button ng-click="addHumidity()">Ajouter</button>

    <h3>Graphique des Humidités</h3>
    <canvas id="humidityChart" width="400" height="200"></canvas>

    <h3>Liste des Humidités</h3>
    <ul>
        <li ng-repeat="hum in humidities">
            ID: {{ hum._id }} | Valeur: {{ hum.value }}% | Date: {{ hum.timestamp | date:'dd/MM/yyyy HH:mm:ss' }}
        </li>
    </ul>
</div>

</body>
</html>



</body>
</html>
