<!DOCTYPE html>
<html lang="fr" ng-app="iotApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tableau de bord - IoT Cloud</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/dashboardController.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="dashboard-container" ng-controller="DashboardController">
        <h2>Tableau de bord</h2>
        <p>Bienvenue, {{ user.username }} ({{ user.role }})</p>
        
        <div ng-if="user.role === 'admin'">
            <button ng-click="add()">Ajouter</button>
            <button ng-click="edit()">Modifier</button>
            <button ng-click="remove()">Supprimer</button>
        </div>
        
        <div ng-if="user.role === 'user'">
            <button ng-click="add()">Ajouter</button>
        </div>

        <button ng-click="logout()">Déconnexion</button>
        <p>{{ message }}</p>

        <div class="values-list">
            <h3>Liste des valeurs</h3>
            <ul>
                <li ng-repeat="value in values">
                    {{ value.name }} : {{ value.data }} 
                    <button ng-if="user.role === 'admin'" ng-click="edit(value)">Modifier</button>
                    <button ng-if="user.role === 'admin'" ng-click="remove(value)">Supprimer</button>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
